* {
  margin: 0;
  padding: 0;
}
.navbar {
  border: none;
  background-color: rgb(194, 189, 189);
  color: #486112;
}
body {
  background-color: #486112;
  color: white;
}
.glyphicon {
  font-size: 30px;
  color: #486112;
}

.center {
  width: 90%;
  background-color: #eee;
}
.container {
  background-color: #eee;
}
.text-center {
  font-size: 30px;
}

h2 {
  text-align: center;
}
#myNavbar ul li a {
  color: #486112;
}
.navbar-brand {
  font-size: 30px;
}

